<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

  	<div class="container">
{%

set country_db = [
[1,' WorldWide '],
[23424740,' Algeria '],
[23424747,' Argentina '],
[23424748,' Australia '],
[23424750,' Austria '],
[23424753,' Bahrain '],
[23424765,' Belarus '],
[23424757,' Belgium '],
[23424768,' Brazil '],
[23424775,' Canada '],
[23424782,' Chile '],
[23424787,' Colombia '],
[23424796,' Denmark '],
[23424800,' Dominican Republic '],
[23424801,' Ecuador '],
[23424802,' Egypt '],
[23424819,' France '],
[23424829,' Germany '],
[23424824,' Ghana '],
[23424833,' Greece '],
[23424834,' Guatemala '],
[23424848,' India '],
[23424846,' Indonesia '],
[23424803,' Ireland '],
[23424852,' Israel '],
[23424853,' Italy '],
[23424856,' Japan '],
[23424860,' Jordan '],
[23424863,' Kenya '],
[23424868,' Korea '],
[23424870,' Kuwait '],
[23424874,' Latvia '],
[23424873,' Lebanon '],
[23424901,' Malaysia '],
[23424900,' Mexico '],
[23424909,' Netherlands '],
[23424916,' New Zealand '],
[23424908,' Nigeria '],
[23424910,' Norway '],
[23424898,' Oman '],
[23424922,' Pakistan '],
[23424924,' Panama '],
[23424919,' Peru '],
[23424934,' Philippines '],
[23424923,' Poland '],
[23424925,' Portugal '],
[23424935,' Puerto Rico '],
[23424930,' Qatar '],
[23424936,' Russia '],
[23424938,' Saudi Arabia '],
[23424948,' Singapore '],
[23424942,' South Africa '],
[23424950,' Spain '],
[23424954,' Sweden '],
[23424957,' Switzerland '],
[23424960,' Thailand '],
[23424969,' Turkey '],
[23424976,' Ukraine '],
[23424738,' United Arab Emirates '],
[23424975,' United Kingdom '],
[23424977,' United States '],
[23424982,' Venezuela '],
[23424984,' Vietnam ']

]
%}

{%
set citydb = [
[56120136,'Saudi Arabia','Ahsa'],
[1587677,'South Africa','Soweto'],
[1253079,'Algeria','Algiers'],
[332471,'Argentina','Mendoza'],
[466861,'Argentina','Córdoba'],
[466862,'Argentina','Rosario'],
[468739,'Argentina','Buenos Aires'],
[1098081,'Australia','Perth'],
[1099805,'Australia','Adelaide'],
[1100661,'Australia','Brisbane'],
[1100968,'Australia','Canberra'],
[1101597,'Australia','Darwin'],
[1103816,'Australia','Melbourne'],
[1105779,'Australia','Sydney'],
[551801,'Austria','Vienna'],
[824382,'Belarus','Brest'],
[825848,'Belarus','Grodno'],
[825978,'Belarus','Gomel'],
[834463,'Belarus','Minsk'],
[455819,'Brazil','Brasília'],
[455820,'Brazil','Belém'],
[455821,'Brazil','Belo Horizonte'],
[455822,'Brazil','Curitiba'],
[455823,'Brazil','Porto Alegre'],
[455824,'Brazil','Recife'],
[455825,'Brazil','Rio de Janeiro'],
[455826,'Brazil','Salvador'],
[455827,'Brazil','São Paulo'],
[455828,'Brazil','Campinas'],
[455830,'Brazil','Fortaleza'],
[455831,'Brazil','Goiânia'],
[455833,'Brazil','Manaus'],
[455834,'Brazil','São Luís'],
[455867,'Brazil','Guarulhos'],
[2972,'Canada','Winnipeg'],
[3369,'Canada','Ottawa'],
[3444,'Canada','Quebec'],
[3534,'Canada','Montreal'],
[4118,'Canada','Toronto'],
[8676,'Canada','Edmonton'],
[8775,'Canada','Calgary'],
[9807,'Canada','Vancouver'],
[349859,'Chile','Santiago'],
[349860,'Chile','Concepcion'],
[349861,'Chile','Valparaiso'],
[368148,'Colombia','Bogotá'],
[368149,'Colombia','Cali'],
[368150,'Colombia','Medellín'],
[368151,'Colombia','Barranquilla'],
[76456,'Dominican Republic','Santo Domingo'],
[375732,'Ecuador','Quito'],
[375733,'Ecuador','Guayaquil'],
[1521643,'Egypt','Giza'],
[1521894,'Egypt','Cairo'],
[1522006,'Egypt','Alexandria'],
[580778,'France','Bordeaux'],
[608105,'France','Lille'],
[609125,'France','Lyon'],
[610264,'France','Marseille'],
[612977,'France','Montpellier'],
[613858,'France','Nantes'],
[615702,'France','Paris'],
[619163,'France','Rennes'],
[627791,'France','Strasbourg'],
[628886,'France','Toulouse'],
[638242,'Germany','Berlin'],
[641142,'Germany','Bremen'],
[645458,'Germany','Dortmund'],
[645686,'Germany','Dresden'],
[646099,'Germany','Dusseldorf'],
[648820,'Germany','Essen'],
[650272,'Germany','Frankfurt'],
[656958,'Germany','Hamburg'],
[667931,'Germany','Cologne'],
[671072,'Germany','Leipzig'],
[676757,'Germany','Munich'],
[698064,'Germany','Stuttgart'],
[1326075,'Ghana','Accra'],
[1330595,'Ghana','Kumasi'],
[946738,'Greece','Athens'],
[963291,'Greece','Thessaloniki'],
[83123,'Guatemala','Guatemala City'],
[2282863,'India','Nagpur'],
[2295377,'India','Lucknow'],
[2295378,'India','Kanpur'],
[2295381,'India','Patna'],
[2295383,'India','Ranchi'],
[2295386,'India','Kolkata'],
[2295387,'India','Srinagar'],
[2295388,'India','Amritsar'],
[2295401,'India','Jaipur'],
[2295402,'India','Ahmedabad'],
[2295404,'India','Rajkot'],
[2295405,'India','Surat'],
[2295407,'India','Bhopal'],
[2295408,'India','Indore'],
[2295410,'India','Thane'],
[2295411,'India','Mumbai'],
[2295412,'India','Pune'],
[2295414,'India','Hyderabad'],
[2295420,'India','Bangalore'],
[2295424,'India','Chennai'],
[20070458,'India','Delhi'],
[1030077,'Indonesia','Bekasi'],
[1032539,'Indonesia','Depok'],
[1040779,'Indonesia','Pekanbaru'],
[1044316,'Indonesia','Surabaya'],
[1046138,'Indonesia','Makassar'],
[1047180,'Indonesia','Bandung'],
[1047378,'Indonesia','Jakarta'],
[1047908,'Indonesia','Medan'],
[1048059,'Indonesia','Palembang'],
[1048324,'Indonesia','Semarang'],
[1048536,'Indonesia','Tangerang'],
[560472,'Ireland','Cork'],
[560743,'Ireland','Dublin'],
[560912,'Ireland','Galway'],
[1967449,'Israel','Haifa'],
[1968212,'Israel','Tel Aviv'],
[1968222,'Israel','Jerusalem'],
[711080,'Italy','Bologna'],
[716085,'Italy','Genoa'],
[718345,'Italy','Milan'],
[719258,'Italy','Naples'],
[719846,'Italy','Palermo'],
[721943,'Italy','Rome'],
[725003,'Italy','Turin'],
[1110809,'Japan','Kitakyushu'],
[1116753,'Japan','Saitama'],
[1117034,'Japan','Chiba'],
[1117099,'Japan','Fukuoka'],
[1117155,'Japan','Hamamatsu'],
[1117227,'Japan','Hiroshima'],
[1117502,'Japan','Kawasaki'],
[1117545,'Japan','Kobe'],
[1117605,'Japan','Kumamoto'],
[1117817,'Japan','Nagoya'],
[1117881,'Japan','Niigata'],
[1118072,'Japan','Sagamihara'],
[1118108,'Japan','Sapporo'],
[1118129,'Japan','Sendai'],
[1118285,'Japan','Takamatsu'],
[1118370,'Japan','Tokyo'],
[1118550,'Japan','Yokohama'],
[2345896,'Japan','Okinawa'],
[15015370,'Japan','Osaka'],
[15015372,'Japan','Kyoto'],
[90036018,'Japan','Okayama'],
[1968902,'Jordan','Amman'],
[1528335,'Kenya','Mombasa'],
[1528488,'Kenya','Nairobi'],
[1130853,'Korea','Goyang'],
[1132094,'Korea','Yongin'],
[1132444,'Korea','Ansan'],
[1132445,'Korea','Bucheon'],
[1132447,'Korea','Busan'],
[1132449,'Korea','Changwon'],
[1132466,'Korea','Daegu'],
[1132481,'Korea','Gwangju'],
[1132496,'Korea','Incheon'],
[1132559,'Korea','Seongnam'],
[1132567,'Korea','Suwon'],
[1132578,'Korea','Ulsan'],
[1132599,'Korea','Seoul'],
[2345975,'Korea','Daejeon'],
[854823,'Latvia','Riga'],
[1141268,'Malaysia','Kajang'],
[1154679,'Malaysia','Ipoh'],
[1154698,'Malaysia','Johor Bahru'],
[1154726,'Malaysia','Klang'],
[1154781,'Malaysia','Kuala Lumpur'],
[56013632,'Malaysia','Petaling'],
[56013645,'Malaysia','Hulu Langat'],
[110978,'Mexico','Acapulco'],
[111579,'Mexico','Aguascalientes'],
[115958,'Mexico','Chihuahua'],
[116545,'Mexico','Mexico City'],
[116556,'Mexico','Ciudad Juarez'],
[116564,'Mexico','Nezahualcóyotl'],
[117994,'Mexico','Culiacán'],
[118466,'Mexico','Ecatepec de Morelos'],
[124162,'Mexico','Guadalajara'],
[124785,'Mexico','Hermosillo'],
[131068,'Mexico','León'],
[133327,'Mexico','Mérida'],
[133475,'Mexico','Mexicali'],
[134047,'Mexico','Monterrey'],
[134091,'Mexico','Morelia'],
[134395,'Mexico','Naucalpan de Juárez'],
[137612,'Mexico','Puebla'],
[138045,'Mexico','Querétaro'],
[141272,'Mexico','Saltillo'],
[144265,'Mexico','San Luis Potosí'],
[149361,'Mexico','Tijuana'],
[149769,'Mexico','Toluca'],
[151582,'Mexico','Zapopan'],
[726874,'Netherlands','Den Haag'],
[727232,'Netherlands','Amsterdam'],
[733075,'Netherlands','Rotterdam'],
[734047,'Netherlands','Utrecht'],
[2348079,'New Zealand','Auckland'],
[1387660,'Nigeria','Benin City'],
[1393672,'Nigeria','Ibadan'],
[1396439,'Nigeria','Kaduna'],
[1396803,'Nigeria','Kano'],
[1398823,'Nigeria','Lagos'],
[1404447,'Nigeria','Port Harcourt'],
[857105,'Norway','Bergen'],
[862592,'Norway','Oslo'],
[2268284,'Oman','Muscat'],
[2211096,'Pakistan','Karachi'],
[2211177,'Pakistan','Lahore'],
[2211269,'Pakistan','Multan'],
[2211387,'Pakistan','Rawalpindi'],
[2211574,'Pakistan','Faisalabad'],
[418440,'Peru','Lima'],
[1167715,'Philippines','Calocan'],
[1180689,'Philippines','Makati'],
[1187115,'Philippines','Pasig'],
[1195098,'Philippines','Taguig'],
[1198785,'Philippines','Antipolo'],
[1199002,'Philippines','Cagayan de Oro'],
[1199079,'Philippines','Cebu City'],
[1199136,'Philippines','Davao City'],
[1199477,'Philippines','Manila'],
[1199682,'Philippines','Quezon City'],
[1199980,'Philippines','Zamboanga City'],
[493417,'Poland','Gdańsk'],
[502075,'Poland','Kraków'],
[505120,'Poland','Lodz'],
[514048,'Poland','Poznań'],
[523920,'Poland','Warsaw'],
[526363,'Poland','Wroclaw'],
[1997422,'Russia','Chelyabinsk'],
[2018708,'Russia','Khabarovsk'],
[2028717,'Russia','Krasnodar'],
[2029043,'Russia','Krasnoyarsk'],
[2077746,'Russia','Samara'],
[2108210,'Russia','Voronezh'],
[2112237,'Russia','Yekaterinburg'],
[2121040,'Russia','Irkutsk'],
[2121267,'Russia','Kazan'],
[2122265,'Russia','Moscow'],
[2122471,'Russia','Nizhny Novgorod'],
[2122541,'Russia','Novosibirsk'],
[2122641,'Russia','Omsk'],
[2122814,'Russia','Perm'],
[2123177,'Russia','Rostov-on-Don'],
[2123260,'Russia','Saint Petersburg'],
[2124045,'Russia','Ufa'],
[2124288,'Russia','Vladivostok'],
[2124298,'Russia','Volgograd'],
[1937801,'Saudi Arabia','Medina'],
[1939574,'Saudi Arabia','Dammam'],
[1939753,'Saudi Arabia','Riyadh'],
[1939873,'Saudi Arabia','Jeddah'],
[1939897,'Saudi Arabia','Mecca'],
[1062617,'Singapore','Singapore'],
[1580913,'South Africa','Durban'],
[1582504,'South Africa','Johannesburg'],
[1586614,'South Africa','Port Elizabeth'],
[1586638,'South Africa','Pretoria'],
[1591691,'South Africa','Cape Town'],
[753692,'Spain','Barcelona'],
[754542,'Spain','Bilbao'],
[764814,'Spain','Las Palmas'],
[766273,'Spain','Madrid'],
[766356,'Spain','Malaga'],
[768026,'Spain','Murcia'],
[769293,'Spain','Palma'],
[774508,'Spain','Seville'],
[776688,'Spain','Valencia'],
[779063,'Spain','Zaragoza'],
[890869,'Sweden','Gothenburg'],
[906057,'Sweden','Stockholm'],
[782538,'Switzerland','Geneva'],
[783058,'Switzerland','Lausanne'],
[784794,'Switzerland','Zurich'],
[1225448,'Thailand','Bangkok'],
[2323778,'Turkey','Mersin'],
[2343678,'Turkey','Adana'],
[2343732,'Turkey','Ankara'],
[2343733,'Turkey','Antalya'],
[2343843,'Turkey','Bursa'],
[2343932,'Turkey','Diyarbakır'],
[2343980,'Turkey','Eskişehir'],
[2343999,'Turkey','Gaziantep'],
[2344116,'Turkey','Istanbul'],
[2344117,'Turkey','Izmir'],
[2344174,'Turkey','Kayseri'],
[2344210,'Turkey','Konya'],
[918981,'Ukraine','Dnipropetrovsk'],
[919163,'Ukraine','Donetsk'],
[922137,'Ukraine','Kharkiv'],
[924938,'Ukraine','Kyiv'],
[924943,'Ukraine','Lviv'],
[929398,'Ukraine','Odesa'],
[939628,'Ukraine','Zaporozhye'],
[1940119,'United Arab Emirates','Sharjah'],
[1940330,'United Arab Emirates','Abu Dhabi'],
[1940345,'United Arab Emirates','Dubai'],
[12723,'United Kingdom','Birmingham'],
[12903,'United Kingdom','Blackpool'],
[13383,'United Kingdom','Bournemouth'],
[13911,'United Kingdom','Brighton'],
[13963,'United Kingdom','Bristol'],
[15127,'United Kingdom','Cardiff'],
[17044,'United Kingdom','Coventry'],
[18114,'United Kingdom','Derby'],
[19344,'United Kingdom','Edinburgh'],
[21125,'United Kingdom','Glasgow'],
[25211,'United Kingdom','Hull'],
[26042,'United Kingdom','Leeds'],
[26062,'United Kingdom','Leicester'],
[26734,'United Kingdom','Liverpool'],
[28218,'United Kingdom','Manchester'],
[28869,'United Kingdom','Middlesbrough'],
[30079,'United Kingdom','Newcastle'],
[30720,'United Kingdom','Nottingham'],
[32185,'United Kingdom','Plymouth'],
[32452,'United Kingdom','Portsmouth'],
[32566,'United Kingdom','Preston'],
[34503,'United Kingdom','Sheffield'],
[36240,'United Kingdom','Stoke-on-Trent'],
[36758,'United Kingdom','Swansea'],
[44418,'United Kingdom','London'],
[44544,'United Kingdom','Belfast'],
[2352824,'United States','Albuquerque'],
[2357024,'United States','Atlanta'],
[2357536,'United States','Austin'],
[2358820,'United States','Baltimore'],
[2359991,'United States','Baton Rouge'],
[2364559,'United States','Birmingham'],
[2367105,'United States','Boston'],
[2378426,'United States','Charlotte'],
[2379574,'United States','Chicago'],
[2380358,'United States','Cincinnati'],
[2381475,'United States','Cleveland'],
[2383489,'United States','Colorado Springs'],
[2383660,'United States','Columbus'],
[2388929,'United States','Dallas-Ft. Worth'],
[2391279,'United States','Denver'],
[2391585,'United States','Detroit'],
[2397816,'United States','El Paso'],
[2407517,'United States','Fresno'],
[2414469,'United States','Greensboro'],
[2418046,'United States','Harrisburg'],
[2423945,'United States','Honolulu'],
[2424766,'United States','Houston'],
[2427032,'United States','Indianapolis'],
[2428184,'United States','Jackson'],
[2428344,'United States','Jacksonville'],
[2430683,'United States','Kansas City'],
[2436704,'United States','Las Vegas'],
[2441472,'United States','Long Beach'],
[2442047,'United States','Los Angeles'],
[2442327,'United States','Louisville'],
[2449323,'United States','Memphis'],
[2449808,'United States','Mesa'],
[2450022,'United States','Miami'],
[2451822,'United States','Milwaukee'],
[2452078,'United States','Minneapolis'],
[2457170,'United States','Nashville'],
[2458410,'United States','New Haven'],
[2458833,'United States','New Orleans'],
[2459115,'United States','New York'],
[2460389,'United States','Norfolk'],
[2464592,'United States','Oklahoma City'],
[2465512,'United States','Omaha'],
[2466256,'United States','Orlando'],
[2471217,'United States','Philadelphia'],
[2471390,'United States','Phoenix'],
[2473224,'United States','Pittsburgh'],
[2475687,'United States','Portland'],
[2477058,'United States','Providence'],
[2478307,'United States','Raleigh'],
[2480894,'United States','Richmond'],
[2486340,'United States','Sacramento'],
[2486982,'United States','St. Louis'],
[2487610,'United States','Salt Lake City'],
[2487796,'United States','San Antonio'],
[2487889,'United States','San Diego'],
[2487956,'United States','San Francisco'],
[2488042,'United States','San Jose'],
[2490383,'United States','Seattle'],
[2503713,'United States','Tallahassee'],
[2503863,'United States','Tampa'],
[2508428,'United States','Tucson'],
[2512636,'United States','Virginia Beach'],
[2514815,'United States','Washington'],
[395269,'Venezuela','Caracas'],
[395270,'Venezuela','Maracaibo'],
[395271,'Venezuela','Maracay'],
[395272,'Venezuela','Valencia'],
[395273,'Venezuela','Barcelona'],
[395275,'Venezuela','Ciudad Guayana'],
[395277,'Venezuela','Turmero'],
[468382,'Venezuela','Barquisimeto'],
[468384,'Venezuela','Maturín'],
[1236594,'Vietnam','Hanoi'],
[1236690,'Vietnam','Hai Phong'],
[1252351,'Vietnam','Can Tho'],
[1252376,'Vietnam','Da Nang'],
[1252431,'Vietnam','Ho Chi Minh City']
]

%}

{% if woeid_set != None %}
{% set woeid_sel = woeid_set|int %}
{% endif %}

{% set cities_array = [] %}
{% if city_set != None %}

{% set citysel = city_set|int %}
{% else %}
{% set citysel=None %}
{% endif %}

{% set city_name = None %}

{% set ns = namespace(country_sel="World Wide",city_array=cities_array,city_sel=citysel,cityname=city_name) %}


<div class="jumbotron">
	<h1 class="display-4">Twitter trends</h1>
  <p class="lead">This is a simple program to find whats trending on Twitter in each contry</p>

<div class="alert alert-primary" role="alert">Select a country for which you want to find the Twitter trends for </div>
<form action="/tw" method="post">
{{ form.hidden_tag() }}
	<select name="country">
		{% for countrydata in country_db %}
			checking {{woeid_sel}} with {{countrydata[0]}}<br/>
			{% if woeid_sel == countrydata[0] %}
				{% set ns.country_sel =  countrydata[1] %}
			<option value='{{countrydata[0]}}' selected>{{countrydata[1]}} </option>
			{% else %}
			<option value='{{countrydata[0]}}'>{{countrydata[1]}} </option>
			{% endif %}
			
		{% endfor %}
	</select>	
		

 <input type="submit" class="btn btn-dark"/>
</form>
<hr/>
{% if woeid_set !=1 %}

<form action="/tw" method="post">

<div class="alert alert-primary" role="alert">Select a city for which you want to find the Twitter trends for </div>

{{ form.hidden_tag() }}
<input type="hidden" name="country" value="{{woeid_sel}}"/>
<select name="city">
{% set cities_array = [] %}
		{% for cityname in citydb %}
			{% if ns.country_sel|trim == cityname[1]|trim %}

				checking {{ns.city_sel}} with {{cityname[0]}}
				{% if ns.city_sel == cityname[0]%}
				{% set ns.cityname =  cityname[2] %}

				<option value={{cityname[0]}} selected>{{cityname[2]}}</option>	
				{% else %}
				<option value={{cityname[0]}}>{{cityname[2]}}</option>	
				{% endif %}
			{% endif %}
		{% endfor %}
		{{cities_array}}
	
		
	</select>	

<input type="submit" class="btn btn-dark"/>
</form>
</div>

{% endif %}

{% if ns.cityname != None %}
<h1> Trends for <span style="color:#FF0000">{{ns.country_sel}} - {{ns.cityname}}</span></h1>

{% else %}
<h1> Trends for <span style="color:#FF0000">{{ns.country_sel}}</span></h1>
{% endif %}

{% if trends != None %}
<div class="row">
	<div class="col-sm">
<table class="table table-striped">

	<tr><th>Name</th><th>Volume</th></tr>
	{% for trend in trends%}
		
		<tr><td><a href="{{trend[3]}}" target="_new">{{trend[0]}}</a></td><td>{{trend[2]}}</td></tr>
	
	{% endfor %}
</table>
	</div>
	<div class="col-sm">
	</div>
	<div class="col-sm">
	</div>
</div>
{% endif %}
</div>
</body>
</html>
